/* .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content {
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal_header_title{
    font-size: 20px;
    font-weight: bold;
}

.modal_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.modal_body_image {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.description {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;

}

.quantidade {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.valor {
    font-size: 20px;
    font-weight: bold;
    color: #666;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    height: 40px;
    background: #7159c1;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: background 0.2s;
}  */